<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Underdogs clothing</title>
  <link rel="stylesheet" href="static/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&family=Josefin+Sans:wght@300&display=swap"
    rel="stylesheet" />
</head>


<body>
  <div class="container">
    <div id="nav">
      <img class="udlogo" src="static/UDd1.png" />
      <div id="links">
        <button class="Abutton hk" onclick="show('aboutbox')">About</button>
      </div>
    </div>

    <div class="main-box">
      <div class="content-main">
        <div class="content">
          <h1>We're <span>Launching</span> Soon <br /></h1>
          <p class="text">
            Beyond clothes. Expressing inner battles, blending emotion with streetwear. Join the journey...

          </p>
          <br />

          <div class="mail-box">
            <h2>GET NOTIFIED ON LAUNCH</h2>
            <br />
            <br />
            <form class="e-form">
              <input type="email" placeholder="email address" />
              <button type="submit" class="btn">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
      <div id="video" class="video-box">
        <video autoplay muted loop>
          <source src="static/UNDERDOGS.mp4" type="video/mp4" />
        </video>
      </div>
    </div>

    <div id="aboutbox" class="about">
      <section>

        <h2>ABOUT <span>US</span></h2>
        <p id="about-content">
          Discover Underdogs, the streetwear sensation that captures the unspoken personal battles faced by individuals,
          offering them a platform to express themselves freely. At our core, we're all about acknowledging life's tough
          moments and inspiring hope by reminding everyone that better days are ahead. Our brand embodies the spirit of
          those often overlooked by society, yet who firmly believe in their own potential to succeed and shine. Through
          our clothing, we're on a mission to celebrate everyone's unique visions, passions, ambitions, struggles, and
          dreams. Join us in honoring the strength of the human spirit and embracing the journey towards empowerment and
          achievement.
        </p>

        <a href="/"><button onclick="showBack('video')">Return</button></a>
      </section>
    </div>
  </div>

  <script>
    function show(param_div_id) {
      document.getElementById('video').innerHTML = document.getElementById('aboutbox').innerHTML;
    }
    function showBack(param_div_id) {
      document.getElementById('aboutbox').innerHTML = document.getElementById('video').innerHTML;
    }

  </script>

</body>

</html>