<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Underdogs clothing</title>
  <link rel="icon" href="static/favicon.png" type="image/png" sizes="16x16">
  <link rel="stylesheet" href="static/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&family=Josefin+Sans:wght@300&display=swap"
    rel="stylesheet" />
</head>


<body>


  <!-- <div id="preloader" class="loader-wrapper">
    <div class="loader">
      <svg height="0" width="0" viewBox="0 0 64 64" class="absolute">
        <defs class="s-xJBuHA073rTt" xmlns="http://www.w3.org/2000/svg">
          <linearGradient class="s-xJBuHA073rTt" gradientUnits="userSpaceOnUse" y2="2" x2="0" y1="62" x1="0" id="b">
            <stop class="s-xJBuHA073rTt" stop-color="#cc5500"></stop>
            <stop class="s-xJBuHA073rTt" stop-color="#cc5500" offset="1"></stop>
          </linearGradient>
          <linearGradient class="s-xJBuHA073rTt" gradientUnits="userSpaceOnUse" y2="0" x2="0" y1="64" x1="0" id="c">
            <stop class="s-xJBuHA073rTt" stop-color="#cc5500"></stop>
            <stop class="s-xJBuHA073rTt" stop-color="#cc5500" offset="1"></stop>
            <animateTransform repeatCount="indefinite"
              keySplines=".42,0,.58,1;.42,0,.58,1;.42,0,.58,1;.42,0,.58,1;.42,0,.58,1;.42,0,.58,1;.42,0,.58,1;.42,0,.58,1"
              keyTimes="0; 0.125; 0.25; 0.375; 0.5; 0.625; 0.75; 0.875; 1" dur="8s"
              values="0 32 32;-270 32 32;-270 32 32;-540 32 32;-540 32 32;-810 32 32;-810 32 32;-1080 32 32;-1080 32 32"
              type="rotate" attributeName="gradientTransform"></animateTransform>
          </linearGradient>
          <linearGradient class="s-xJBuHA073rTt" gradientUnits="userSpaceOnUse" y2="2" x2="0" y1="62" x1="0" id="d">
            <stop class="s-xJBuHA073rTt" stop-color="#cc5500"></stop>
            <stop class="s-xJBuHA073rTt" stop-color="#cc5500" offset="1"></stop>
          </linearGradient>
        </defs>
      </svg>
      <div class="w-2"></div>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" style="--rotation-duration:0ms; --rotation-direction:normal;"
        viewBox="0 0 64 64" height="64" width="64" class="inline-block">
        <path stroke-linejoin="round" stroke-linecap="round" stroke-width="8" stroke="url(#d)"
          d="M 4,4 h 4.6230469 v 25.919922 c -0.00276,11.916203 9.8364941,21.550422 21.7500001,21.296875 11.616666,-0.240651 21.014356,-9.63894 21.253906,-21.25586 a 2.0002,2.0002 0 0 0 0,-0.04102 V 4 H 56.25 v 25.919922 c 0,14.33873 -11.581192,25.919922 -25.919922,25.919922 a 2.0002,2.0002 0 0 0 -0.0293,0 C 15.812309,56.052941 3.998433,44.409961 4,29.919922 Z"
          class="dash" id="u" pathLength="360"></path>
      </svg>
    </div>
  </div> -->



  <div class="container">
    <div id="nav">
      <img class="udlogo" src="static/UDd1.png" />
      <div id="links">
        <button class="Abutton hk" onclick="show('aboutbox')">
          <div id="about" onclick="show1('return')">
            About Us
          </div>
        </button>
      </div>
    </div>

    <div class="main-box">
      <div class="content-main">
        <div class="content">
          <div class="Hero-heading">

            <h1>We're <span>Launching</span> Soon <br /></h1>
          </div>
          <p class="text">
            Beyond clothes. Expressing inner battles, blending emotion with streetwear. Join the journey...

          </p>
          <br />

          <div class="mail-box">
            <h2>GET NOTIFIED ON LAUNCH</h2>
            <br />

            <br />
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form class="e-form" action="/" method="post">
              <input type="email" name="email" placeholder="email address" required />
              <button type="submit" class="btn">
                <p>Subscribe</p>
              </button>
            </form>
          </div>
        </div>
      </div>
      <div id="video" class="video-box">
        <video autoplay muted loop>
          <source src="static/UNDERDOGS.mp4" type="video/mp4" />
        </video>
      </div>
    </div>

    <div id="aboutbox" class="about">
      <section>

        <h2>ABOUT <span>US</span></h2>
        <p id="about-content">
          Discover Underdogs, the streetwear sensation that captures the unspoken personal battles faced by individuals,
          offering them a platform to express themselves freely. At our core, we're all about acknowledging life's tough
          moments and inspiring hope by reminding everyone that better days are ahead. Our brand embodies the spirit of
          those often overlooked by society, yet who firmly believe in their own potential to succeed and shine. Through
          our clothing, we're on a mission to celebrate everyone's unique visions, passions, ambitions, struggles, and
          dreams. Join us in honoring the strength of the human spirit and embracing the journey towards empowerment and
          achievement.
        </p>

        <div id="return">
          <a href="/"><button style="color: #cc5500;
            border-style: none;
            cursor: pointer;">Home</button></a>
        </div>


      </section>
    </div>
  </div>
  <footer>
    <div class="f-elements ">
      <div class="socials">
        <div class=" img-hover-zoom">

          <a href="https://www.instagram.com/underdogs__clothing" target="_blank">
            <img class="" src="static/instagram.png" alt="Instagram">
          </a>
        </div>
        <div class=" img-hover-zoom twitter">

          <a href="https://twitter.com/Underdogscloths?t=EJ1VpT7nTr3XGF-hm339Dw&s=08">
            <img class="" src="static/twitter.png" alt="Twitter">
          </a>
        </div>
        <div class=" img-hover-zoom">

          <a href="https://www.threads.net/@underdogs__clothing">
            <img class="" src="static/threads.png" alt="Threads">
          </a>
        </div>
      </div>

      <span> underdogs clothing&copy; 2023</span>
    </div>
  </footer>









  <script>

    function show(param_div_id) {
      document.getElementById('video').innerHTML = document.getElementById('aboutbox').innerHTML;
    }
    function show1(param_div_id) {
      document.getElementById('about').innerHTML = document.getElementById('return').innerHTML;
    }

  </script>

  <!-- <script>
    var loader = document.getElementById("preloader");
    window.addEventListener("load", function () {
      loader.style.display = "none";
    })
  </script> -->

</body>

</html>